<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <appSettings>
        <add key="Klarna.BaseUrl" value="https://api.playground.klarna.com/"/>
        <add key="Klarna.MerchantUrl.Terms" value="https://www.example.com/terms.html" />
        <add key="Klarna.MerchantUrl.Checkout" value="https://www.example.com/checkout.html" />
        <add key="Klarna.MerchantUrl.Confirmation" value="https://www.example.com/confirmation.html" />
        <add key="Klarna.MerchantUrl.Push" value="https://www.example.com/push.html" />

        <add key="Klarna.Proxy" value=""/>

        <add key="Klarna.MerchantId" value="PK18661_4a594659d162"/>
        <add key="Klarna.Password" value="UUXFfXJRZ67uOXeM"/>

        <add key="Browser.Path" value="C:\Program Files(x86)\Google\Chrome\Application\chrome.exe" />
    </appSettings>
</configuration>